body{
    background:  linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url("/images/cool-pc-wallpapaers13.jpg");
 /* text-align:;*/
  color: darkgoldenrod;
}
.form {
    position:center;
    width: 730px;
    height: 895px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);
    position: absolute;
    top: 140px;
    left: 290px;
    border-radius: 10px;
    padding: 25px;
}

.form h2 {
    width: 320px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #494747;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    position:center;
} 
address{
    display: flex;
    }
    #socials--list {
        display: flex;
        justify-content: space-between ;
        column-gap: 1em;
        flex-wrap: wrap;
    }
    #socials--list  a {
        font-weight: 300;
        color:rgb(0, 17, 255);
        font-size: 0.9em;
        transition: 0.3s;
    }
    #socials--list a:hover {
        font-weight: 100;
        color: #0da2b8;
        font-size: 0.9em;
    }
    #Download-pdf a{
        font-weight: 300;
        color:blue;
        font-size: 0.9em;
        transition: 0.3s;
    }
    #Download-pdf a:hover{
        font-weight: 100;
        color: #0d10b8;
        font-size: 0.9em;
    }
    .loader {
        position: relative;
        width: 100px;
        height: 100px;
      }
      
      .loader:before , .loader:after{
        content: '';
        border-radius: 50%;
        position: absolute;
        inset: 0;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
      }
      .loader:after {
        box-shadow: 0 2px 0 #FF3D00 inset;
        animation: rotate 2s linear infinite;
      }
      
      @keyframes rotate {
        0% {  transform: rotate(0)}
        100% { transform: rotate(360deg)}
      }